@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito-Regular"), local("Nunito-Regular"),
    url("/src/assets/fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
}

body {
  @apply font-body dark:bg-onyx-main bg-crystal-main text-onyx-main dark:text-crystal-main;
}
